flows.json
[{"id":"4f08963e.382328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"45fbb4f7.d7ee2c","type":"ui_tab","z":"","name":"RP","icon":"dashboard","disabled":false,"hidden":false},{"id":"e12abc.9d1e2548","type":"ui_group","z":"","name":"Registration-Page","tab":"45fbb4f7.d7ee2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c26d0089.4ce5f","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#487a93","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#487a93","edited":true},"page-titlebar-backgroundColor":{"value":"#487a93","edited":false},"page-backgroundColor":{"value":"#b9d1df","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6fa0b8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#487a93","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c3110603.72afa8","type":"ui_tab","z":"","name":"LP","icon":"dashboard","disabled":false,"hidden":false},{"id":"bb222a38.a05698","type":"ui_group","z":"","name":"Login-Page","tab":"c3110603.72afa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a79eb90d.a7afa8","type":"ui_group","z":"","name":"Customer-Help","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ec853bd.217ecc","type":"ui_tab","z":"","name":"CH","icon":"dashboard","disabled":false,"hidden":false},{"id":"af2198bd.179198","type":"ui_group","z":"","name":"Customer-Help","tab":"7ec853bd.217ecc","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e1dcb16.297ca4","type":"ui_form","z":"4f08963e.382328","name":"","label":"","group":"e12abc.9d1e2548","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create account","cancel":"cancel","topic":"","x":120,"y":140,"wires":[["20ccd9ec.3f77d6","10766e40.8bb5f2"]]},{"id":"20ccd9ec.3f77d6","type":"debug","z":"4f08963e.382328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":100,"wires":[]},{"id":"10766e40.8bb5f2","type":"function","z":"4f08963e.382328","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["d6067b70.1a5b18"]]},{"id":"d6067b70.1a5b18","type":"cloudant out","z":"4f08963e.382328","name":"","cloudant":"","database":"datab","service":"node-red-ffubd-2020--cloudant-1597577941300-35247","payonly":true,"operation":"insert","x":470,"y":180,"wires":[]},{"id":"95a06355.bf2b3","type":"ui_form","z":"4f08963e.382328","name":"","label":"","group":"bb222a38.a05698","order":0,"width":0,"height":0,"options":[{"label":"Enter E-mail","value":"Emailid","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"Emailid":"","password":""},"payload":"","submit":"login","cancel":"cancel","topic":"","x":120,"y":300,"wires":[["61e51c2c.964ca4"]]},{"id":"61e51c2c.964ca4","type":"function","z":"4f08963e.382328","name":"","func":"global.set(\"Emailid\",msg.payload.Emailid);\nglobal.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["75374988.f79688"]]},{"id":"75374988.f79688","type":"function","z":"4f08963e.382328","name":"","func":"var Emailid= global.get(\"Emailid\");\nmsg.payload=\"Emailid:\"+Emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":300,"wires":[["7884d428.5d1fbc"]]},{"id":"7884d428.5d1fbc","type":"cloudant in","z":"4f08963e.382328","name":"","cloudant":"","database":"datab","service":"node-red-ffubd-2020--cloudant-1597577941300-35247","search":"_idx_","design":"user2","index":"user2","x":700,"y":300,"wires":[["1d26b787.748f58"]]},{"id":"1d26b787.748f58","type":"function","z":"4f08963e.382328","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='login successful';\n}\nelse{\n    msg.payload='login fail';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":300,"wires":[["a2bc19ed.07ff88","35b4f6b4.4bcb5a"]]},{"id":"a2bc19ed.07ff88","type":"debug","z":"4f08963e.382328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":380,"wires":[]},{"id":"35b4f6b4.4bcb5a","type":"ui_text","z":"4f08963e.382328","group":"bb222a38.a05698","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":300,"wires":[]},{"id":"391cafe8.114fb","type":"ui_form","z":"4f08963e.382328","name":"","label":"","group":"af2198bd.179198","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":580,"wires":[["df2b7fe4.dbd7"]]},{"id":"df2b7fe4.dbd7","type":"function","z":"4f08963e.382328","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":580,"wires":[["b77bd217.32ce1"]]},{"id":"b77bd217.32ce1","type":"watson-conversation-v1","z":"4f08963e.382328","name":"","workspaceid":"7bdf1335-a43e-4b14-83ec-1f3b1857cdea","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9b344990-6722-48d0-9097-3ddc6ae5a040","timeout":"","optout-learning":false,"x":530,"y":580,"wires":[["bcf7f08b.9ff84","12884c54.43f774"]]},{"id":"bcf7f08b.9ff84","type":"debug","z":"4f08963e.382328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":500,"wires":[]},{"id":"12884c54.43f774","type":"function","z":"4f08963e.382328","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":580,"wires":[["71d5b248.973b5c","cdbfc047.9ea1f"]]},{"id":"71d5b248.973b5c","type":"ui_text","z":"4f08963e.382328","group":"af2198bd.179198","order":1,"width":"6","height":"11","name":"","label":"Customer-Help response","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":600,"wires":[]},{"id":"cdbfc047.9ea1f","type":"ui_audio","z":"4f08963e.382328","name":"","group":"af2198bd.179198","voice":"","always":"","x":930,"y":680,"wires":[]}]